* {
    box-sizing: border-box;
}

body {
    font-size: $base__font-size;
    margin: 0;
    font-family: $font-family--primary;
    line-height: calc($base__line / $base__font-size);
    background-image: $background-gradient;
    height: 100vh;
    color: $color-primary;
    text-align: center;
    vertical-align: middle;
}

.btn {
    @include bg-colors($user-colors);
}

.main {
    padding: 0;
}

.inner {
    .instructions {
        font-size: 2rem;
    }

    // .images {
        
    // }

    .email-images {
        input {
            color: palette(grey, dark);
        }
        .errorMsg {
            color: $error;
        }
    }

    .images,
    .email-images {
        padding: 0;

        .images-box,
        .email-images {
            box-shadow: 10px 10px #685f5f;
            width: 300px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .selected-images {

        margin: 30px 0;
        .showImages {
            padding: 5px;
            border: 1px inset;
        }
    }
}

footer {
    .container {
        padding: 0;

        .main-footer {
            background-color: palette(black);

            .footer-links {
                padding: em(15px) 0;

                .portfolio-link {
                    font-size: em(14px);
                    text-decoration: none;
                    color: $color-primary;
                }
            }
        }
    }
}