.container {
    @include mq(small) {}

    @include mq(medium) {}

    @include mq(large) {}

    @include mq(x-large) {}

    width:100%;
}




@include mq(x-small) {
    // .instructions {
    //     font-size: 1rem;
    // }
}

@include mq(small) {}

@include mq(min-medium) {
    .inner {
        padding: 0 40px;
        .images-controls {
            margin: 20px 0;
        }
    }
}

@include mq(medium) {
    .inner {
        padding: 0 80px;

        .images-controls {
            margin: 40px 0;
        }
    
    }
}

@include mq(large) {
    .inner {
        padding: 0 100px;
    }
}

@include mq(x-large) {
    .inner {
        padding: 0 200px;
    }
}